sqlalchemy-migrate

python-memcached
pymemcache
statsd

-e git+https://github.com/sapcc/raven-python.git@ccloud#egg=raven
-e git+https://github.com/sapcc/openstack-watcher-middleware.git#egg=watcher-middleware
-e git+https://github.com/sapcc/openstack-audit-middleware.git#egg=audit-middleware
